
div.star_container{
    float: right;
    
  width: 170px;
}

div.stars_div {
    position: relative;
    left: 20px;
}

div.rate_marker{
    position: absolute;
}


/*             styles for the star rater                */    

.star-rating {
    list-style:none;
    margin: 0px;
    padding:0px;
    width: 150px;
    height: 15px;
    position: relative;
    background: url(/images/star_rating.gif) top left repeat-x; 
}
div.active{
    width: 150px;
    height: 15px;
    
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #ff9900;
    border-bottom-color: #ff9900;
    border-left-color: #ff9900;
    border-right-color: #ff9900;
}
.star-rating li{
    padding:0px;
    margin:0px;
    /*\*/
    float: left;
    /* */
}
.star-rating li a{
    display:block;
    width:15px;
    height: 15px;
    text-decoration: none;
    text-indent: -9000px;
    z-index: 20;
    position: absolute;
    padding: 0px;
}
.star-rating li a:hover{
    background: url(/images/star_rating.gif) left center;
    z-index: 2;
    left: 0px;
    border:none;
}
.star-rating a.one-star{
    left: 0px;
}
.star-rating a.one-star:hover{
    width:15px;
}
.star-rating a.two-stars{
    left:15px;
}
.star-rating a.two-stars:hover{
    width: 30px;
}
.star-rating a.three-stars{
    left: 30px;
}
.star-rating a.three-stars:hover{
    width: 45px;
}
.star-rating a.four-stars{
    left: 45px;
}    
.star-rating a.four-stars:hover{
    width: 60px;
}
.star-rating a.five-stars{
    left: 60px;
}
.star-rating a.five-stars:hover{
    width: 75px;
}

.star-rating a.six-stars{
    left: 75px;
}
.star-rating a.six-stars:hover{
    width: 90px;
}

.star-rating a.seven-stars{
    left: 90px;
}
.star-rating a.seven-stars:hover{
    width: 105px;
}
.star-rating a.eight-stars{
    left: 105px;
}
.star-rating a.eight-stars:hover{
    width: 120px;
}
.star-rating a.nine-stars{
    left: 120px;
}
.star-rating a.nine-stars:hover{
    width: 135px;
}
.star-rating a.ten-stars{
    left: 135px;
}
.star-rating a.ten-stars:hover{
    width: 150px;
}



.star-rating li.current-rating{
    background: url(/images/star_rating.gif) left bottom;
    background-color: transparent;
    position: absolute;
    height: 15px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
}