

<p>
	 Here you can find the Podcast:
<a href="/feed/rss.xml">
	Podcast Link
	<%= image_tag 'feed.png', :width => "15", :height => "15", :alt => "Feed"%>
</a>
</p>

<p>
	 <%= link_to "Help / Explanation", {:action => "feed_explanation"}%>

	 Have a look at our Help Page, <br/> if you don't know what a feed is and what you have to do <br/>
</p>


