<div id="long_text">
<h2>Getting and using Podcasts</h2>

<p>
	The distribution of files that were uploaded to Feenyl is accomplished 
	via Podcasts. If you already know what a Podcast is and how to subscribe to one you
	can safely skip this section and follow the <a href="/feed/rss.xml">Podcast link
	<img alt="Feed" height="15" src="/images/feed.png?1206526759" width="15" /></a>!
</p>
<h3>Using iTunes to catch our Podcast</h3>
<p>
	If you have iTunes installed on your computer you can subscribe to the podcast
	very easily. 
   <ol>
	<li>Simply right-click on the <a href="/feed/rss.xml">Podcast link
	<img alt="Feed" height="15" src="/images/feed.png?1206526759" width="15" /></a> and select "Copy Link Location" (in Firefox)
	or "Copy shortcut" (in Internet Explorer).</li>
	<li>Start iTunes and click on the "Advanced" menu entry.</li>
	<li>Select "Subscribe to podcast". A box will pop up and you can now right-click on the inside of the "URL" box and select "Paste", then click "OK". You can also hold down Ctrl-v to paste. <b>Mac Users:</b> Use Ctrl-click instead of Right-click (or just use Apple-v to paste).</li>
	<li>You will then be asked to enter your username and password and that's it.</li>
    </ol>
</p>
<h3>Using amarok to catch our Podcast</h3>
<p>
	If you are using Linux you can catch the Podcast with Amarok. 
   <ol>
   	<li>Right-click on the <a href="/feed/rss.xml">Podcast link
	<img alt="Feed" height="15" src="/images/feed.png?1206526759" width="15" /></a> and select "Copy Link Location" (in Firefox) or "Copy shortcut" (in Internet Explorer).</li>
   	<li>Start Amarok and go to "playlists".</li>
   	<li>Within the playlists there will be one special list labeled "Podcasts".
	Right-click on it and select "Add Podcast". Then insert the copied URL (Crtl-v).</li>
	<li>Enter your username and password.</li>
   	<li>If everything went well you can now see the tunes. Right-click on them and select "download" to grab them.</li>
   </ol>
</p>
<h3>Using Firefox to catch our Podcast</h3>
<p>
	If you don't want to use any specific podcatcher you can also simply use firefox to manage our Podcast/RSS-Feed.
   <ol>
	<li>To do so simply click on the <a href="/feed/rss.xml">Podcast link
	<img alt="Feed" height="15" src="/images/feed.png?1206526759" width="15" /></a>.</li>
	<li> Enter your username and password.</li>
	<li>Firefox then asks you if it should place this podcast into your live bookmarks. Select "yes". You can now
	find the RSS-Feed listed below your address bar.</li>
   </ol>
</p>
	

<h4>
	If you do not want to use any of these methods you might want to have a look at <a href="http://juicereceiver.sourceforge.net/">Juice</a>,
	a simple Podcast client.
</h4>
</div>
<br/>
<a href="/feed/rss.xml">

	Link to Podcast
	<img alt="Feed" height="15" src="/images/feed.png?1206526759" width="15" />
</a>